.profileInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  background-color: #1d1d1d;
  /* width: fit-content; */
  /* margin: 0 auto; */
  border-radius: 6px;
}

.dashContent {
  display: flex;
  gap: 20px;
}

.dashboard-content {
  padding: 20px;
  background-color: #1d1d1d;
  border-radius: 6px;
  flex: 2;
}

.dash-buttons {
  float: right;
}

.dash-buttons a {
  margin-left: 10px;
}

.userName {
  font-weight: 700;
  font-size: 18px;
}

.user,
.userName {
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socialLink:hover {
  opacity: 0.8;
}

.smallDesc {
  opacity: 0.5;
  font-size: 10;
}

.profileForm {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.create-profile-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 40%;
}

.create-profile-input input {
  padding: 10px;
  outline: none;
  margin: 5px 0;
  background-color: #3d3d3d;
  border-radius: 6px;
  border: 1px solid #242424;
  color: #eee;
}

.create-profile-input input:focus {
  border: 1px solid #8b8b8b;
}

@media screen and (max-width: 1024px) {
  .create-profile-input {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .create-profile-input {
    width: 90%;
  }
}

/* .dashContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
